{
  "app_repo_url": "https://github.com/lex00/flask-github-jobs",
  "app_subfolder": "",
  "app_description": "A simple flask that lists jobs from the github jobs api ",
  "app_name": "flask_github_jobs",
  "app_user": "flask_github_jobs",
  "app_domain": "notarealdomain.com",
  "app_module": "flask_github_jobs",
  "app_callable": "app",
  "app_port": "3000",
  "app_health_ep": "/health",
  "uwsgi_process_count": "10",

  "qemu_hostname": "flask-github-jobs",
  "qemu_ssh_fullname": "ubuntu",
  "qemu_ssh_username": "ubuntu",
  "qemu_ssh_password": "ubuntu",
  "qemu_cpus": "1",
  "qemu_memory": "1024",
  "qemu_iso_url": "http://releases.ubuntu.com/14.04/ubuntu-14.04.5-server-amd64.iso",
  "qemu_iso_checksum": "dd54dc8cfc2a655053d19813c2f9aa9f",
  "qemu_iso_checksum_type": "md5"
}
