{
  "app_repo_url": "https://github.com/lex00/flask-github-jobs",
  "app_subfolder": "",
  "app_description": "A simple flask that lists jobs from the github jobs api ",
  "app_name": "flask_github_jobs",
  "app_user": "flask_github_jobs",
  "app_domain": "notarealdomain.com",
  "app_module": "flask_github_jobs",
  "app_callable": "app",
  "app_port": "3000",
  "app_health_ep": "/health",
  "uwsgi_process_count": "10",

  "qemu_hostname": "flask-github-jobs",
  "qemu_cpus": "1",
  "qemu_memory": "1024",
  "qemu_iso_url": "http://releases.ubuntu.com/17.04/ubuntu-17.04-server-amd64.iso",
  "qemu_iso_checksum": "ca5d9a8438e2434b9a3ac2be67b5c5fa2c1f8e3e40b954519462935195464034",
  "qemu_iso_checksum_type": "sha256"
}
